
.col-1, .col-2, .col-3,
.col-4, .col-5, .col-6,
.col-7, .col-8, .col-9,
.col-10, .col-11, .col-12 {
    border: 1px solid white;
    background: black;
    color: white;
    font-size: 72px;
    text-align: center;
}

body {
    color: white;
    background: black;
    background: url("../images/bg.jpg");
}

.container{
    padding: 10px;
    position: relative;
    float: left;
}

#emptyword {
    margin: 10px;
}

#statsbox {
    position: relative;
    float: left;
    color: green;
}

@media screen and (max-width: 570px) {
    #emptyword {
      font-size: 24px;
    }
}

@media screen and (min-width: 575px) {
    #emptyword {
      font-size: 72px;
    }
}